#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(22, 24, 34, 0.82);
    padding-top: 3rem;
    padding-bottom: 3rem;
}