.avatar {
    min-width: 5.2rem;
	width: fit-content; 
	height: 5.2rem; 
	margin-right: 1.2rem; 
	margin-left: .2rem; 
	margin-top: .2rem;
	margin-bottom: .2rem;
	border-radius: 5px; 
	overflow: hidden;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}